
@{
    ViewBag.Title = "Dziennik Zmian";
    Layout = "~/Views/Shared/_LayoutAssistant.cshtml";
}

<h2>Changelog</h2>
<button class="btn btn-light" onclick="showhide('ver097'); return false;"><b>ver. 0.9.7 (04.02.2020)</b> </button>
<div class="ticketContent" id="ver097">
    <ol>
        <li>Dodano do systemu rolę administrator!</li>
        <li>Dodano możliwość dodania nowego asystenta lub administrator z poziomu roli Administrator</li>
        <li>Dodano ograniczenia dla roli Asystenta</li>
    </ol>
</div>
<br />


<button class="btn btn-light" onclick="showhide('ver082'); return false;"><b>ver. 0.8.2 (25.01.2020)</b> </button>
<div class="ticketContent" id="ver082">
    <ol>
        <li>Dodano favicon</li>
        <li>Dodano butto zwijający lub rozwijający wszystkie wiadomości w zgłoszeniu z poziomu roli Asystent</li>
        <li>Dodano zakładki "Ogólne","DziennikPracy" oraz "Historia zgłoszenia" na zgłoszeniu z poziomu roli Asystent </li>
        <li>Przesunięto na dół globalną szukajke oraz liste dot ilosci na liście zgłoszeń z poziomu roli Asystent</li>
        <li>Zmieniono możliwe ilosci do pokazania na liście zgłoszeń z poziomu roli Asystent</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</div>
<br />


<button class="btn btn-light" onclick="showhide('ver081'); return false;"><b>ver. 0.8.1 (23.01.2020)</b> </button>
<div class="ticketContent" id="ver081">
    <ol>
        <li>Dodano ikonę na liście zgłoszeń informującą o tym, kto ostatni odpowiedział na zgłoszenie( klient lub asystent) z poziomu roli Asystent</li>
        <li>Dodano ikonę na liście zgłoszeń informującą o tym, kto ostatni odpowiedział na zgłoszenie( klient lub asystent) z poziomu roli Klient</li>
        <li>Dodanie filtrów oraz opcji sortowania na liście zgłoszeń z poziomu roli Klient</li>
        <li>Zmiana widoku szczegółów zgłoszenia z poziomu roli Klienta</li>
        <li>Zmiana widoku szczegółów zgłoszenia z poziomu roli Asystenta</li>
    </ol>
</div>
<br />

<button class="btn btn-light" onclick="showhide('ver080'); return false;"><b>ver. 0.8.0 (22.01.2020)</b> </button>
<div class="ticketContent" id="ver080">
    <ol>
        <li>Poprawa wyglądu fitlrów na liscie zgłoszeń z poziomu roli Asystent<</li>
        <li>Zmiana napisu "Status" na ikonę statusów na liście zgłoszeń z poziomu roli Asystent</li>
        <li>Usunięcie zbędnej kolumny z listy klientó</li>
        <li>Dodanie filtrów oraz opcji sortowania na liście klientów</li>
        <li>Dodanie filtrów oraz opcji sortowania na liście firm</li>
        <li>Dodanie blokady możliwości dodania pustej firmy lub takiej, któa juz istnieje</li>
        <li></li>
    </ol>
</div>
<br />


<button class="btn btn-light" onclick="showhide('ver077'); return false;"><b>ver. 0.7.7 (20.01.2020)</b> </button>
<div class="ticketContent" id="ver077">
    <ol>
        <li>Zmiana logo na stronie logowania</li>
        <li>Zmiana napisu "opcje" na ikonę hamburgera na liście zgłoszeń z poziomu roli Asystent</li>
        <li>Zmiana napisuj utwórz nowe zgłoszenia na ikonę dodaj  na liście zgłoszeń z poziomu roli Asystent </li>
        <li>Dodanie strzałek sortujących na liście zgłoszeń z poziomu roli Asystent</li>
        <li>Dodano zawijanie w przypadku zbyt długiej zawartości kolumny "przypisani Serwisanci" z pzoiomu roli Asystenta</li>
    </ol>
</div>
<br />


<button class="btn btn-light" onclick="showhide('ver076'); return false;"><b>ver. 0.7.6 (18.01.2020)</b> </button>
<div class="ticketContent" id="ver076">
    <ol>
        <li>Dodanie blokad podglądu zgłoszeń przez klientów z innych firm</li>
        <li>Dodanie komunnikatu informujacego o braku dostępu do zgłoszenia.</li>
        <li>Dodanie blokady udzielania odpowiedzi do zgłoszenia przez Asystenta, któy nie jest do tego zgłoszenia podpięty </li>
        <li>Dodanie komunnikatu informujacego o braku możliwości udzielenia odpowiedzi do zgłoszenia.</li>
        <li>Dodanie opcj filtowania po każdej kolumnie! (widok Asystenta)</li>
        <li>Dodanie możliwości sortowania po kazdej kolumnie (widok Asystenta)</li>
        <li>Dodanie stronicowania! (widok Asystenta)</li>
    </ol>
</div>
<br />

<button class="btn btn-light" onclick="showhide('ver075'); return false;"><b>ver. 0.7.5 (17.01.2020)</b> </button>
<div class="ticketContent" id="ver075">
    <ol>
        <li>Poprawa błędu z dodawaniem zgłozenia z poziomu roli Klienta</li>
        <li>poprawa błędengo połączenai table TicketHeader z TicketState</li>
        <li>Dodanie nowych stanw zgłoszenia</li>
        <li>Dodanie możliwości zmianu statu zgłoszenia na liście zgłoszen z poziomuy roli Asystenta</li>
    </ol>
</div>
<br />

<button class="btn btn-light" onclick="showhide('ver074'); return false;"><b>ver. 0.7.4 (16.01.2020)</b> </button>
<div class="ticketContent" id="ver074">
    <ol>
        <li>Na liście zgłoszeń z poziomu roli Asystenta pojawia się firma, do której przypisane jest zgłoszenie</li>
        <li>Dodano możliwość przypisaania siebie (jako asystenta) do zgłoszenia z poziomu list zgłoszeń </li>
        <li>Dodano komunikat o poprawnym przypisaniu do zgłoszenia. Komunikat znika po kilku sekundach</li>
        <li>Dodano komunikat pojawiajacy sie przy próbie przypisania siebie do zgłoszenia, w którym jest się już podpiętym. Komunikat znika po kilku sekundach</li>

    </ol>
</div>
<br />

<button class="btn btn-light" onclick="showhide('ver073'); return false;"><b>ver. 0.7.3 (16.01.2020)</b> </button>
<div class="ticketContent" id="ver073">
    <ol>
        <li>Dodano możliwość przypisania wybranego asystenta  na formatce nowego zgłoszenia z poziomu roli Asystent</li>
        <li>Zmiana wyświetlania Przypisanych serwisantów oraz klientów na liście zgłoszeń ( wsześniej byl adresy email, teraz imię + nazwisko) z poziomu roli Asystent</li>
        <li> Zmiana kolejnośći wyświetlania zgłoszeń z poziomu roli Asystent - teraz będa wyświetlały się zgłoszenia od najnowszego do najstarszego</li>
        <li>Dodano wymóg wybrania firmy na formatce nowego zgłoszenia z poziomu roli Asystent</li>
    </ol>
</div>
<br />

<button class="btn btn-light" onclick="showhide('ver072'); return false;"><b>ver. 0.7.2 (15.01.2020)</b> </button>
<div class="ticketContent" id="ver072">
    <ol>
        <li>Dodno walidację danych przy dodawaniu lub edytowaniu firmy dla pól: nazwa, telefon oraz adres(www)</li>
        <li>Zmieniono komunikat pokazujący się przy nieudanej próbie logowania  ( z "Invalid login attempt." na "Błędne dane logowania.")</li>
        <li>Dodano walidację danych przy dodawaniu lub edytowaniu klienta dla pól: Hasło, telefon , email ,imię ,nazwisko</li>
        <li>Poprawiono wygląd pola hasło na formatce dodawania nowego klienta</li>
        <li>Poprawiono tłumaczenia na formatce dodawania nowego klienta</li>
        <li>Poprawiono tłumaczenia na liście klientów</li>
        <li>Zmieniono layout z "klienckiego" na "asystencki" na formatce dodawania nowgo zgłoszenia z poziomu roli Asystent</li>
        <li>Zmieniono wygląd strony logowania</li>
    </ol>
</div>
<br />
<button class="btn btn-light" onclick="showhide('ver071'); return false;"><b>ver. 0.7.1 (14.01.2020)</b> </button>
<div class="ticketContent" id="ver071">
    <ol>
        <li>Dodano funkcjonalność Dziennika zdarzeń</li>
        <li>Poprawa linkowania przycisku "Powrót na liste" na formatce tworzenai nowej firmy </li>
        <li>Poprawa linkowania przycisku "Utwórz" na formatce tworzenai nowej firmy </li>
        <li>Poprawa tłumaczeń na formatce tworzenia nowej firmy  </li>
        <li>Poprawa linkowania przycisku "Powrót " na formatce tworzenai nowego zgłoszenia </li>
        <li>Dodano możliwość edycji firmy </li>
        <li>Dodano opis funckjonalnosći systemu  </li>

    </ol>
</div>