
@{
    ViewBag.Title = "Dziennik Zmian";
    Layout = "~/Views/Shared/_LayoutAssistant.cshtml";
}

<h2>Changelog</h2>

<button class="btn btn-light" onclick="showhide('ver071'); return false;"><b>ver. 0.7.1 (14.01.2020)</b> </button>
<div class="ticketContent" id="ver071">
    <ol>
        <li>Dodano funkcjonalność Dziennika zdarzeń</li>
        <li>Poprawa linkowania przycisku "Powrót na liste" na formatce tworzenai nowej firmy </li>
        <li>Poprawa linkowania przycisku "Utwórz" na formatce tworzenai nowej firmy </li>
        <li>Poprawa tłumaczeń na formatce tworzenia nowej firmy  </li>
        <li>Poprawa linkowania przycisku "Powrót " na formatce tworzenai nowego zgłoszenia </li> 
        <li>Dodano możliwość edycji firmy </li>
        <li>Dodano opis funckjonalnosći systemu  </li>  

    </ol>
</div>