
@{
    ViewBag.Title = "Dziennik Zmian";
    Layout = "~/Views/Shared/_LayoutAssistant.cshtml";
}

<h2>Changelog</h2>

<button class="btn btn-light" onclick="showhide('ver074'); return false;"><b>ver. 0.7.4 (16.01.2020)</b> </button>
<div class="ticketContent" id="ver074">
    <ol>
        <li>Na liście zgłoszeń z poziomu roli Asystenta pojawia się firma, do której przypisane jest zgłoszenie</li>
        <li>Dodano możliwość przypisaania siebie (jako asystenta) do zgłoszenia z poziomu list zgłoszeń </li>
        <li>Dodano komunikat o poprawnym przypisaniu do zgłoszenia. Komunikat znika po kilku sekundach</li>
        <li>Dodano komunikat pojawiajacy sie przy próbie przypisania siebie do zgłoszenia, w którym jest się już podpiętym. Komunikat znika po kilku sekundach</li>

    </ol>
</div>
<br />

<button class="btn btn-light" onclick="showhide('ver073'); return false;"><b>ver. 0.7.3 (16.01.2020)</b> </button>
<div class="ticketContent" id="ver073">
    <ol>
        <li>Dodano możliwość przypisania wybranego asystenta  na formatce nowego zgłoszenia z poziomu roli Asystent</li>
        <li>Zmiana wyświetlania Przypisanych serwisantów oraz klientów na liście zgłoszeń ( wsześniej byl adresy email, teraz imię + nazwisko) z poziomu roli Asystent</li>
        <li> Zmiana kolejnośći wyświetlania zgłoszeń z poziomu roli Asystent - teraz będa wyświetlały się zgłoszenia od najnowszego do najstarszego</li>
        <li>Dodano wymóg wybrania firmy na formatce nowego zgłoszenia z poziomu roli Asystent</li>
    </ol>
</div>
<br />

<button class="btn btn-light" onclick="showhide('ver072'); return false;"><b>ver. 0.7.2 (15.01.2020)</b> </button>
<div class="ticketContent" id="ver072">
    <ol>
        <li>Dodno walidację danych przy dodawaniu lub edytowaniu firmy dla pól: nazwa, telefon oraz adres(www)</li>
        <li>Zmieniono komunikat pokazujący się przy nieudanej próbie logowania  ( z "Invalid login attempt." na "Błędne dane logowania.")</li>
        <li>Dodano walidację danych przy dodawaniu lub edytowaniu klienta dla pól: Hasło, telefon , email ,imię ,nazwisko</li>
        <li>Poprawiono wygląd pola hasło na formatce dodawania nowego klienta</li>
        <li>Poprawiono tłumaczenia na formatce dodawania nowego klienta</li>
        <li>Poprawiono tłumaczenia na liście klientów</li>
        <li>Zmieniono layout z "klienckiego" na "asystencki" na formatce dodawania nowgo zgłoszenia z poziomu roli Asystent</li>
        <li>Zmieniono wygląd strony logowania</li>
    </ol>
</div>
<br />
<button class="btn btn-light" onclick="showhide('ver071'); return false;"><b>ver. 0.7.1 (14.01.2020)</b> </button>
<div class="ticketContent" id="ver071">
    <ol>
        <li>Dodano funkcjonalność Dziennika zdarzeń</li>
        <li>Poprawa linkowania przycisku "Powrót na liste" na formatce tworzenai nowej firmy </li>
        <li>Poprawa linkowania przycisku "Utwórz" na formatce tworzenai nowej firmy </li>
        <li>Poprawa tłumaczeń na formatce tworzenia nowej firmy  </li>
        <li>Poprawa linkowania przycisku "Powrót " na formatce tworzenai nowego zgłoszenia </li>
        <li>Dodano możliwość edycji firmy </li>
        <li>Dodano opis funckjonalnosći systemu  </li>

    </ol>
</div>